@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#principal {
    width: 100%;
    max-width: 700px;
    
}

#principal > h1, h2 {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3.2rem;
    color: #464646;
}

h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #464646;
}

#contato {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2.7rem;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#sobre {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    text-align: center;
    max-width: 400px;
    padding-top: 40px;
}

#projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #525252;
    padding: 30px;
    margin: auto;
}

h3 {
    font-size: 1.8rem;
    padding-bottom: 10px;
}

.cards {
    flex-direction: column;
    max-width: 300px;
    padding: 25px 15px 15px 15px;
    border: 1px solid rgba(128, 128, 128, 0.404);
    border-radius: 10px;
}

.cardlink {
    color: #9acd32;
    text-decoration: none;
}